/* Селектор элемента */
stacklayout {
    background-color: lightblue;
}

/* Селектор класса */
.btn-add {
    margin: 8px;
}

/* Селектор идентификатора */
#header {
    font-size: 24px;
    font-weight: bold;
}
